# Virtual environments
venv/
.venv/
env/
.env/
.env*/  # dla plików .env, np. .env.dev, .env.local

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
logs/

# Ignore CSV files in all folders
kedro/data/01_raw/*.csv
kedro/data/02_intermediate/*.csv
kedro/data/03_features/*.csv
kedro/data/04_aggregated/*.csv
kedro/data/05_model_input/*.csv
kedro/data/06_models/*.csv
kedro/data/07_model_output/*.csv
kedro/data/08_reporting/*.csv

# Ignore other binary or large files
*.pkl
*.png

# Ignore kaggle api key
kaggle.json

# Local config
conf/local/
conf/base/credentials.yml
conf/base/credentials/
conf/base/*.env

# Kedro artifacts
catalog.yml
nodes/

# IPython history
.ipython/

# MacOS & IDEs
.DS_Store
.idea/
.vscode/
misc.xml
los-angeles.iml

# Jupyter notebooks output
*.nbconvert.ipynb

# Kedro viz
.viz/